<footer>
    <div class="container">
        <p>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
        <p>Image by <a href="https://pixabay.com/users/shafin_protic-16278454/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=6127616" target="_blank" rel="noopener noreferrer">Shafin Al Asad Protic</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=6127616" target="_blank" rel="noopener noreferrer">Pixabay</a></p>
        <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik" rel="noopener noreferrer">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon" rel="noopener noreferrer">www.flaticon.com</a></div>
    </div>
</footer>
