<header>
    <div class="container">
        <img id="header-img" src="{{ site.baseurl }}/assets/images/code.svg" alt="Code Icon">
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>
        {% include navigation.html %}
        <div class="social-links">
            <a href="{{ site.social.twitter }}" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
                <img src="{{ site.baseurl }}/assets/images/twitter.svg" alt="Twitter">
            </a>
            <a href="{{ site.social.instagram }}" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
                <img src="{{ site.baseurl }}/assets/images/instagram.svg" alt="Instagram">
            </a>
            <a href="{{ site.social.reddit }}" target="_blank" rel="noopener noreferrer" aria-label="Reddit">
                <img src="{{ site.baseurl }}/assets/images/reddit.svg" alt="Reddit">
            </a>
            <a href="{{ site.social.github }}" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
                <img src="{{ site.baseurl }}/assets/images/github.svg" alt="GitHub">
            </a>
        </div>
    </div>
</header>
